@import "reseteo";

@import "variables-propias";

// ------BREADCRUM------

.breadcrumb {
    font-size: $fuente-normal/1.2;
    background-image: linear-gradient($color-oscuro, lighten($color: $color-oscuro, $amount: 5), $color-oscuro);
    margin: 0;
    margin-bottom: 0;
    &-item {
        margin-left: 1rem; 
        padding: $rem-standard 0;
    }
}

.breadcrumb-item .breadcrumb-link {
    text-decoration: none;
    color: $color-blanco;
    &:hover {
        color: $color-rojo-hover;
    }
}
   .active-breadcrumb {
   &:hover {
    background-image: linear-gradient($color-oscuro, lighten($color: $color-oscuro, $amount: 5), $color-oscuro);
   }
}
