// COLORES----------------

$color-blanco: white;
$color-oscuro: #212529;
$color-rojo-claro: #FB2347;
$color-rojo: #D90429;
$color-rojo-hover: #C80425;
$color-whatsapp: #01E675;
$color-negro-transparente: rgba(0, 0, 0, .3);

// TAMAÑOS-------------

$rem-standard: .5rem;
$fuente-normal: 1rem;

// SOMBRAS---------------

$sombra-contenedor: ($rem-standard/2) ($rem-standard/2) $rem-standard black;
$sombra-nav: 0 ($rem-standard/2) $rem-standard*2 black;
$sombra-foot: 0 (($rem-standard/2)*(-1)) ($rem-standard*2) black;
$sombra-boton: 0 $rem-standard/4 $rem-standard/2 $color-oscuro;

// BORDES--------------

$borde-fino: $rem-standard/4 solid;
$borde-normal: $rem-standard/2.5 solid;

// -----PROPIEDADES PARA USO DE EXTENDS------

%body {
    min-width: 360px;
    min-height: 100vh;
    position: relative;
}

%reseteo {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    color: inherit;
    font-weight: 400;
}

// --contenedores---------------

%caja-blanca {
    background-color: $color-blanco;
    color: $color-oscuro;
    border-radius: $rem-standard;
    padding: $rem-standard*2;
    box-shadow: $sombra-contenedor;
}

%caja-foto {
    border-radius: $rem-standard;
    padding: 0;
    box-shadow: $sombra-contenedor;
}

%caja-flex {
    display: flex;
}

%caja-flex-row {
    @extend %caja-flex;
    flex-direction: row;
}

%caja-flex-column {
    @extend %caja-flex;
    flex-direction: column;
}

%caja-flex-centradax {
    @extend %caja-flex;
    justify-content: center;
}

%caja-flex-centraday {
    @extend %caja-flex;
    align-items: center;
}

%centradox {
    justify-content: center;
}

%centradoy {
    align-items: center;
}

%caja-flex-centrada {
    @extend %caja-flex;
    justify-content: center;
    align-items: center;
}

%centrado {
    align-items: center;
    justify-content: center;
}

%caja-flex-yfin {
    @extend %caja-flex;
    align-items: flex-end;
}

%boton-rojo {
    padding: $rem-standard;
    background-color: $color-rojo;
    border-radius: $rem-standard;
    border: solid $rem-standard/4 $color-rojo;
    box-shadow: $sombra-boton;
    transition: 1s;

    &:hover {
        background-color: $color-rojo-hover;
        color: $color-blanco;
        transform: scale(1.1);
    }
}

%boton-link {
    text-decoration: none;
    color: $color-blanco;

    &:hover {
        color: $color-blanco;
    }
}