@import "reseteo";

@import "variables";

/* ---SECCION CONTACTO--- */

.contacto__contenedor {
    width: 50%;
    margin: auto;
    display: flex;
    margin-top: $rem-standard;
    padding-top: $rem-standard*2;
    justify-content: center;
    text-align: left;
    background-color: $color-blanco;
  }
  
  .contacto__datos-contacto {
    width: 28%;
    padding: $rem-standard;
    line-height: $rem-standard*2;
    color: $color-rojo;
  }
  
  .contacto__datos-contacto--fuente {
    color: $color-blanco;
    font-weight: 600;
    background-color: $color-rojo;
  }

  .contacto__input-contacto {
    width: 68%;
    color: $color-oscuro;
    border: solid $color-rojo $rem-standard/4;
    padding-left: $rem-standard;
    padding: $rem-standard/3;
    margin-left: $rem-standard;
  }
  
  .contacto__input-select {
    width: 68%;
    color: $color-rojo;
    border: solid $color-rojo $rem-standard/4;
    padding-left: $rem-standard;
    padding: $rem-standard/2;
    margin-left: $rem-standard;
  }
 
  .contacto__consulta {
    color: $color-oscuro;
    border: solid $color-rojo $rem-standard/4;
    padding: $rem-standard;
  }
  
  .contenedor__promociones {
    display: flex;
    justify-content: center;
    padding-bottom: $rem-standard*2;
    font-weight: 500;
  }

  .promociones {
    color: $color-oscuro;
    margin-right: $rem-standard;
  }
  
  .boton__link--mt {
    margin-top: .5rem;
  }
  
  /* ---FIN SECCION CONTACTO--- *s/
  
  /* ADAPTACION A DISPOSITIVOS */
  /* ---adaptacion realizar nuevamente 
  @media only screen and (max-width: 360px) {
    .contacto__contenedor {
      width: 70%;
      margin: auto;
    }
  }
  
  @media only screen and (min-width: 360px) {
    .contacto__contenedor {
      width: 70%;
      margin: auto;
    }
  }
  
  @media only screen and (min-width: 480px) {
    .contacto__contenedor {
      width: 80%;
      margin: auto;
    }
  }
  
  @media only screen and (min-width: 768px) {
    .contacto__contenedor {
      width: 100%;
    }
  } 
 --- */