@import "reseteo";

@import "variables-propias";

/* -- INICIO SECCION SOBRE MI------- */

.sobremi {
  &__contenedor {
    @extend %caja-flex;
    @extend %caja-blanca-transparente;
    margin: 0 $rem-standard*2;
    margin-top: $rem-standard*3;

    &-foto {
      @extend %caja-flex-centrada;
    }
  }

  &__texto {
    padding: $rem-standard*2;

    &--estilos {
      font-size: $fuente-normal;
      text-align: left;
    }
  }
}

/*-- ADAPTACION A DISPOSITIVOS------- */

@media only screen and (max-width: 360px) {
  .sobremi {
    &__contenedor {
      flex-direction: column;

      &-foto {
        width: 100%;
        height: 50vh;
        background-image: url(../imagenes/fotosobremi.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: $rem-standard;
        display: inherit;
        transition: 1s;

        &:hover {
          filter: sepia(1);
        }
      }
    }

    &__texto {
      width: 100%;
    }
  }
}

@media only screen and (min-width: 360px) {
  .sobremi {
    &__contenedor {
      flex-direction: column;

      &-foto {
        width: 100%;
        height: 50vh;
        background-image: url(../imagenes/fotosobremi.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: $rem-standard;
        display: inherit;
        transition: 1s;

        &:hover {
          filter: sepia(1);
        }
      }
    }

    &__texto {
      width: 100%;
    }
  }
}

@media only screen and (min-width: 480px) {
  .sobremi {
    &__contenedor {
      flex-direction: row;
      min-height: 50vh;

      &-foto {
        width: 55%;
        height: 90vh;
      }
    }

    &__texto {
      width: 90%;

      &--estilos {
        font-size: $fuente-normal+.1;
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  .sobremi {
    &__contenedor {

      &-foto {
        width: 55%;
        height: 100vh;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .sobremi {
    &__contenedor {

      &-foto {
        width: 55%;
        height: 85vh;
        background-position: top;
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .sobremi {
    &__contenedor {

      &-foto {
        width: 60%;
        height: 75vh;
        background-position: top;
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .sobremi {
    &__contenedor {
      
      &-foto {
        width: 70%;
        height: 75vh;
        background-position: top;
      }
    }

    &__texto {
      width: 100%;
    }
  }
}

/* -- FIN ADAPTACIÓN A DISPOSITIVOS---------- */
/* -- FIN SECCION SOBRE MI---------- */