@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  color: inherit;
}

.contacto__contenedor {
  background-color: white;
  color: #212529;
  border-radius: 0.5rem;
  padding: 1rem;
  -webkit-box-shadow: 0.25rem 0.25rem 0.5rem black;
          box-shadow: 0.25rem 0.25rem 0.5rem black;
}

.contenedor__preferencia, .contacto__contenedor, .contenedor__promociones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contenedor__preferencia {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contenedor__preferencia {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacto__contenedor, .contenedor__promociones {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* ---SECCION CONTACTO--- */
.contacto__contenedor {
  margin-top: 0.5rem;
  padding-top: 2rem;
  font-size: 1rem;
  text-align: left;
}

.contacto__datos-contacto {
  padding: 0.5rem;
  line-height: 1rem;
  color: #212529;
  font-weight: 600;
  text-decoration: overline;
  border: solid #212529 0.125rem;
}

.contacto__datos-contacto--preferencia {
  margin: auto;
  border: solid #212529 0.125rem;
  padding: 0.25rem;
  text-align: center;
  background-color: #212529;
  color: white;
}

.contacto__input-contacto {
  color: #212529;
  border: solid #212529 0.125rem;
  padding: 0.25rem;
  padding-left: 0.5rem;
  margin-left: 0.5rem;
  border-radius: 0.25rem;
}

.contacto__input-select {
  color: #212529;
  border: solid #212529 0.125rem;
  padding-left: 0.5rem;
  padding: 0.38462rem;
  margin-left: 0.5rem;
  border-radius: 0.25rem;
}

.contacto__input-select--preferencia {
  text-align: center;
  margin-top: 0.5rem;
}

.contacto__consulta {
  color: #212529;
  border: solid #212529 0.125rem;
  padding: 0.5rem;
  margin-top: 1rem;
  border-radius: 0.25rem;
}

.contenedor__preferencia {
  margin: 0.5rem 0;
}

.form-select {
  width: 96% !important;
  margin: auto !important;
  margin-top: 0.5rem;
  border: solid #212529 0.125rem !important;
}

.contenedor__promociones {
  padding-bottom: 1rem;
}

.label__promociones {
  color: #212529;
  margin-right: 0.5rem;
  font-weight: 400;
}

.boton__link--mt {
  margin-top: .5rem;
}

input[type=checkbox] {
  visibility: hidden;
}

.checkbox__promociones {
  display: inline-block;
  position: relative;
  width: 4rem;
  height: 2rem;
  background: white;
  border-radius: 2rem;
  border: solid 0.1rem #212529;
}

.checkbox__promociones .checkbox__label {
  display: block;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 2rem;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.35);
          box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.35);
  background-color: #C80425;
  cursor: pointer;
  position: absolute;
  top: 0.33333rem;
  left: 0.33333rem;
  z-index: 1;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.checkbox__promociones input[type=checkbox]:checked + .checkbox__label {
  left: auto;
  right: 0.33333rem;
}

.checkbox__promociones:after {
  content: 'NO';
  font-size: 0.75rem;
  font-weight: 600;
  color: #D90429;
  position: absolute;
  right: 0.41667rem;
  top: 0.41667rem;
  z-index: 0;
}

.checkbox__promociones:before {
  content: 'SI';
  font-size: 0.75rem;
  font-weight: 600;
  color: #212529;
  position: absolute;
  left: 0.5rem;
  top: 0.41667rem;
  z-index: 0;
}

/* ---FIN SECCION CONTACTO---* /

  // /* ADAPTACION A DISPOSITIVOS */
@media only screen and (max-width: 360px) {
  .contacto__contenedor {
    width: 95%;
    margin: auto;
    font-size: 0.75rem;
  }
  .contacto__datos-contacto {
    width: 25%;
    margin-left: 0.25rem;
  }
  .contacto__datos-contacto--preferencia {
    width: 96%;
    margin-bottom: 0.5rem;
  }
  .contacto__input-contacto {
    width: 68%;
    margin-right: 0.25rem;
  }
  .contacto__input-select {
    width: 68%;
  }
  .contacto__input-select--preferencia {
    width: 96%;
    margin: auto;
  }
  .contacto__consulta {
    width: 95%;
    margin-left: 0.5rem;
  }
  .form-select {
    width: 95% !important;
    margin: auto !important;
    font-size: 0.75rem !important;
  }
  .boton__link--mt {
    width: 95%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}

@media only screen and (min-width: 360px) {
  .contacto__contenedor {
    width: 95%;
    margin: auto;
    font-size: 0.75rem;
  }
  .contacto__datos-contacto {
    width: 25%;
    margin-left: 0.25rem;
  }
  .contacto__datos-contacto--preferencia {
    width: 96%;
    margin-bottom: 0.5rem;
  }
  .contacto__input-contacto {
    width: 68%;
    margin-right: 0.25rem;
  }
  .contacto__input-select {
    width: 68%;
  }
  .contacto__input-select--preferencia {
    width: 96%;
    margin: auto;
  }
  .contacto__consulta {
    width: 95%;
    margin-left: 0.5rem;
  }
  .form-select {
    width: 95% !important;
    margin: auto !important;
    font-size: 0.75rem !important;
  }
  .boton__link--mt {
    width: 95%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}

@media only screen and (min-width: 480px) {
  .contacto__contenedor {
    width: 85%;
    margin: auto;
    font-size: 1rem;
  }
  .contacto__datos-contacto {
    width: 30%;
    margin-left: 0.25rem;
  }
  .contacto__input-contacto {
    width: 62%;
    margin-right: 0.25rem;
  }
  .contacto__input-select {
    width: 62%;
  }
  .contacto__input-select--preferencia {
    width: 95%;
  }
  .contacto__consulta {
    width: 95%;
  }
  .form-select {
    width: 95% !important;
    margin: auto !important;
    font-size: 1rem !important;
  }
  .boton__link--mt {
    width: 95%;
  }
}

@media only screen and (min-width: 768px) {
  .contacto__contenedor {
    width: 60%;
    margin: auto;
  }
  .contacto__datos-contacto {
    width: 28%;
    margin-left: 0.25rem;
  }
  .contacto__input-contacto {
    width: 65%;
    margin-right: 0.25rem;
  }
  .contacto__input-select {
    width: 65%;
  }
  .contacto__input-select--preferencia {
    width: 95%;
  }
  .contacto__consulta {
    width: 95%;
  }
  .form-select {
    width: 95% !important;
    margin: auto !important;
  }
  .boton__link--mt {
    width: 95%;
  }
}

@media only screen and (min-width: 1024px) {
  .contacto__contenedor {
    width: 50%;
    margin: auto;
  }
}
/*# sourceMappingURL=estiloscontacto4epfinal.css.map */