@import "reseteo";

@import "variables";

/* --- SECCION LOGIN--- */

.login__contenedor {
  width: 50%;
  margin: auto;
  @extend %caja-blanca;
  @extend %caja-flex-centrada;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    text-align: center;
    margin-top: $rem-standard;
  }
  
  .login__datos {
    width: 100%;
    background-color: $color-rojo;
    padding: $rem-standard;
    line-height: $rem-standard*2;
    margin-bottom: $rem-standard*2;
  }
  
  .login__datos--estilos {
    color: white;
    font-weight: 600;
  }
  
  .login__input {
    width: 100%;
    color: $color-oscuro;
    text-align: center;
    border: solid #9A9C9E $rem-standard/4;
    padding-left: $rem-standard/2;
    padding: $rem-standard/4;
  }
  
  .login__recordar-pass {
    font-weight: 400;
  }
  
  /* ---FIN LOGIN--- */