@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  color: inherit;
  font-weight: 400;
}

.contacto__contenedor, .contacto__contenedor-form {
  background-color: white;
  color: #212529;
  border-radius: 0.5rem;
  padding: 1rem;
  -webkit-box-shadow: 0.25rem 0.25rem 0.5rem black;
          box-shadow: 0.25rem 0.25rem 0.5rem black;
}

.contacto__contenedor-foto {
  border-radius: 0.5rem;
  padding: 0;
  -webkit-box-shadow: 0.25rem 0.25rem 0.5rem black;
          box-shadow: 0.25rem 0.25rem 0.5rem black;
}

.contacto__contenedor, .contacto__contenedor-form, .contenedor__promociones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacto__contenedor {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.contacto__contenedor-form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacto__contenedor {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contenedor__promociones {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacto__contenedor-form {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* -- INICIO SECCION CONTACTO--- */
.contacto__contenedor {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contacto__contenedor-foto {
  background-image: url(../imagenes/gym.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 0.5rem;
}

.contacto__contenedor-form {
  margin-top: 0.5rem;
  padding-top: 2rem;
  text-align: left;
}

.contacto__titulo {
  font-weight: 600;
}

.contacto__datos-contacto {
  padding: 0.5rem;
  line-height: 1rem;
  color: #212529;
  font-weight: 600;
  text-decoration: overline;
  border: #212529 0.125rem solid;
  -webkit-box-shadow: 0.25rem 0.25rem 0.5rem black;
          box-shadow: 0.25rem 0.25rem 0.5rem black;
}

.contacto__input-contacto {
  color: #212529;
  border: 0.125rem solid #212529;
  padding: 0.25rem;
  padding-left: 0.5rem;
  margin-left: 0.5rem;
  border-radius: 0.25rem;
  -webkit-box-shadow: 0 0.125rem 0.25rem #212529;
          box-shadow: 0 0.125rem 0.25rem #212529;
}

.contacto__input-select {
  color: #212529;
  border: 0.125rem solid #212529;
  padding-left: 0.5rem;
  padding: 0.38462rem;
  margin-left: 0.5rem;
  border-radius: 0.25rem;
  -webkit-box-shadow: 0 0.125rem 0.25rem #212529;
          box-shadow: 0 0.125rem 0.25rem #212529;
}

.contacto__consulta {
  color: #212529;
  border: 0.125rem solid #212529;
  padding: 0.5rem;
  margin-top: 1rem;
  border-radius: 0.25rem;
  -webkit-box-shadow: 0 0.125rem 0.25rem #212529;
          box-shadow: 0 0.125rem 0.25rem #212529;
}

.contenedor__preferencia {
  margin: 0.5rem 0;
}

.form-select {
  margin-top: 0.5rem;
  border: solid #212529 0.125rem !important;
  -webkit-box-shadow: 0 0.125rem 0.25rem #212529;
          box-shadow: 0 0.125rem 0.25rem #212529;
}

.contenedor__promociones {
  padding-bottom: 1rem;
}

.label__promociones {
  margin-right: 0.5rem;
  font-weight: 600;
  font-size: 0.83333rem;
}

.boton__link--mt {
  margin-top: 0.5rem;
}

input[type=checkbox] {
  visibility: hidden;
}

.checkbox__personalizado {
  display: inline-block;
  position: relative;
  width: 4rem;
  height: 2rem;
  background: white;
  border-radius: 2rem;
  border: solid 0.1rem #212529;
  -webkit-box-shadow: 0 0.125rem 0.25rem #212529;
          box-shadow: 0 0.125rem 0.25rem #212529;
}

.checkbox__personalizado:after {
  content: 'NO';
  font-size: 0.75rem;
  font-weight: 600;
  color: #C80425;
  position: absolute;
  right: 0.41667rem;
  top: 0.41667rem;
  z-index: 0;
}

.checkbox__personalizado:before {
  content: 'SI';
  font-size: 0.75rem;
  font-weight: 600;
  color: #212529;
  position: absolute;
  left: 0.5rem;
  top: 0.41667rem;
  z-index: 0;
}

.checkbox__personalizado .checkbox__label {
  display: block;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 2rem;
  -webkit-box-shadow: 0px 2rem 5rem 0px rgba(0, 0, 0, 0.35);
          box-shadow: 0px 2rem 5rem 0px rgba(0, 0, 0, 0.35);
  background-color: #D90429;
  cursor: pointer;
  position: absolute;
  top: 0.33333rem;
  left: 0.33333rem;
  z-index: 1;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.checkbox__personalizado input[type=checkbox]:checked + .checkbox__label {
  left: auto;
  right: 0.33333rem;
}

/* ADAPTACION A DISPOSITIVOS */
@media only screen and (max-width: 360px) {
  .contacto__contenedor {
    width: 99%;
    margin: auto;
  }
  .contacto__contenedor-foto {
    display: none;
  }
  .contacto__contenedor-form {
    width: 100%;
    font-size: 0.58824rem;
  }
  .contacto__titulo {
    font-size: 0.83333rem;
  }
  .contacto__datos-contacto {
    width: 25%;
    margin-left: 0.25rem;
  }
  .contacto__datos-contacto--preferencia {
    width: 96%;
    margin-bottom: 0.5rem;
  }
  .contacto__input-contacto {
    width: 68%;
    margin-right: 0.25rem;
  }
  .contacto__input-select {
    width: 68%;
  }
  .contacto__input-select--preferencia {
    width: 96%;
    margin: auto;
  }
  .contacto__consulta {
    width: 95%;
    margin-left: 0.5rem;
  }
  .form-select {
    width: 95% !important;
    margin: auto !important;
    font-size: 0.55rem !important;
  }
  .label__promociones {
    font-size: 0.55rem;
  }
  .boton__link--mt {
    width: 95%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}

@media only screen and (min-width: 360px) {
  .contacto__contenedor {
    width: 99%;
    margin: auto;
  }
  .contacto__contenedor-foto {
    display: none;
  }
  .contacto__contenedor-form {
    width: 100%;
    font-size: 0.58824rem;
  }
  .contacto__titulo {
    font-size: 0.83333rem;
  }
  .contacto__datos-contacto {
    width: 25%;
    margin-left: 0.25rem;
  }
  .contacto__datos-contacto--preferencia {
    width: 96%;
    margin-bottom: 0.5rem;
  }
  .contacto__input-contacto {
    width: 68%;
    margin-right: 0.25rem;
  }
  .contacto__input-select {
    width: 68%;
  }
  .contacto__input-select--preferencia {
    width: 96%;
    margin: auto;
  }
  .contacto__consulta {
    width: 95%;
    margin-left: 0.5rem;
  }
  .form-select {
    width: 95% !important;
    margin: auto !important;
    font-size: 0.55rem !important;
  }
  .label__promociones {
    font-size: 0.75rem;
  }
  .boton__link--mt {
    width: 95%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 0.75rem;
  }
}

@media only screen and (min-width: 480px) {
  .contacto__contenedor {
    width: 95%;
    margin: auto;
  }
  .contacto__contenedor-foto {
    display: none;
  }
  .contacto__contenedor-form {
    width: 100%;
    font-size: 0.66667rem;
  }
  .contacto__titulo {
    font-size: 0.90909rem;
  }
  .contacto__datos-contacto {
    width: 30%;
    margin-left: 0.25rem;
  }
  .contacto__input-contacto {
    width: 62%;
    margin-right: 0.25rem;
  }
  .contacto__input-select {
    width: 62%;
  }
  .contacto__input-select--preferencia {
    width: 95%;
  }
  .contacto__consulta {
    width: 95%;
  }
  .form-select {
    font-size: 0.66667rem !important;
  }
  .label__promociones {
    font-size: 0.8rem;
  }
  .boton__link--mt {
    width: 95%;
  }
}

@media only screen and (min-width: 600px) {
  .contacto__contenedor-form {
    width: 100%;
    font-size: 1rem;
  }
  .form-select {
    font-size: 1rem !important;
  }
  .boton__link--mt {
    width: 95%;
    font-size: 1rem;
  }
}

@media only screen and (min-width: 768px) {
  .contacto__contenedor {
    width: 95%;
    margin: auto;
  }
  .contacto__contenedor-foto {
    display: inherit;
    width: 45%;
  }
  .contacto__contenedor-form {
    width: 50%;
    font-size: 0.66667rem;
  }
  .contacto__datos-contacto {
    width: 28%;
    margin-left: 0.25rem;
  }
  .contacto__input-contacto {
    width: 65%;
    margin-right: 0.25rem;
  }
  .contacto__input-select {
    width: 65%;
  }
  .contacto__input-select--preferencia {
    width: 95%;
  }
  .contacto__consulta {
    width: 95%;
  }
  .form-select {
    font-size: 0.66667rem !important;
  }
  .boton__link--mt {
    width: 95%;
  }
}

@media only screen and (min-width: 1024px) {
  .contacto__contenedor {
    width: 90%;
    margin: auto;
  }
  .contacto__contenedor-foto {
    width: 50%;
  }
  .contacto__contenedor-form {
    width: 45%;
    font-size: 1rem;
  }
  .contacto__titulo {
    font-size: 1rem;
  }
  .form-select {
    font-size: 1rem !important;
  }
}

@media only screen and (min-width: 1200px) {
  .contacto__contenedor {
    width: 90%;
    margin: auto;
  }
  .contacto__contenedor-foto {
    width: 50%;
  }
}
/*# sourceMappingURL=estiloscontacto4epfinal.css.map */