@import "reseteo";

@import "variables-propias";

/* --- SECCION LOGIN--- */


.login {
&__contenedor {
  @extend %caja-blanca;
  @extend %caja-flex-centrada;
  text-align: center;
  margin-top: $rem-standard*2;
  }
  
  &__datos {
    padding: $rem-standard;
    line-height: $rem-standard*2;
    margin-bottom: $rem-standard;
    color: $color-oscuro;
    font-weight: 600;
    text-decoration: overline;
    border: solid $rem-standard/4 $color-oscuro;
  }
  
  &__input {
    color: $color-oscuro;
    text-align: center;
    border: solid $rem-standard/4 $color-oscuro;
    padding: $rem-standard/4;
    padding-left: $rem-standard/2;
    border-radius: $rem-standard/2;
    margin-bottom: $rem-standard*2;
  }
  
  &__recordar-pass {
    font-weight: 400;
    margin: $rem-standard 0;
  }

  &__boton {
    padding: $rem-standard;
  }
}
@media only screen and (min-width: 360px) and (max-width:600px) {
  .login {
    &__contenedor {
      width: 80%;
      margin: auto;
      }
      
      &__datos {
        width: 80%;
        margin: auto;
      }
      
      &__input {
        width: 80%;
        margin: auto;
      }
    
      &__boton {
        width: 70%;
        margin: auto;
      }
    }
}

@media only screen and (min-width: 600px) {
  .login {
    &__contenedor {
      width: 50%;
      }
      
      &__datos {
        width: 70%;
      }
      
      &__input {
        width: 70%;
      }
    
      &__boton {
        width: 65%;
      }
    }
}

@media only screen and (min-width: 768px) {
  .login {
    &__contenedor {
      width: 40%;
      }
      
      &__datos {
        width: 70%;
      }
      
      &__input {
        width: 70%;
      }
    
      &__boton {
        width: 65%;
      }
    }
}

@media only screen and (min-width: 1024px) {
  .login {
    &__contenedor {
      width: 30%;
      }
      
      &__datos {
        width: 70%;
      }
      
      &__input {
        width: 70%;
      }
    
      &__boton {
        width: 65%;
      }
    }
}
  /* ---FIN LOGIN--- */