@import "reseteo";

@import "variables-propias";

/* -- INICIO SECCION SOBRE MI------- */

.sobremi {
  &__contenedor {
    @extend %caja-blanca;
    margin: 0 $rem-standard*2;
    margin-top: $rem-standard*3;
  }

  &__texto {
    padding: $rem-standard*2;

    &--estilos {
      font-size: $fuente-normal;
      text-align: left;
    }
  }
}

/*-- ADAPTACION A DISPOSITIVOS------- */

@media only screen and (max-width: 360px) {
  .sobremi {
    &__contenedor {
      display: flex;
      flex-direction: column;
    }
    &__texto {
      width: 100%;
    }
  }
}


@media only screen and (min-width: 360px) {
  .sobremi {
    &__contenedor {
      display: flex;
      flex-direction: column;
    }
      &__texto {
        width: 100%;
      }
  }
} 

  @media only screen and (min-width: 480px) {
    .sobremi {
      &__contenedor {
        display: flex;
        flex-direction: row;

        &-foto {
          width: 40%;
          background-image: url(../imagenes/fotosobremi.jpg);
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          border-radius: $rem-standard;
          display: inherit;
          transition: 1s;

          &:hover {
            filter: sepia(1);
          }
        }
      }

      &__texto {
        width: 65%;

        &--estilos {
          font-size: $fuente-normal+.1;
        }
      }
    }
  }

  @media only screen and (min-width: 768px) {
    .sobremi__contenedor-foto {
      background-position: top;
    }
  }

  /* -- FIN ADAPTACIÓN A DISPOSITIVOS---------- */
  /* -- FIN SECCION SOBRE MI---------- */