@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap");
.body {
  min-width: 360px;
  max-width: 1500px;
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  color: inherit;
}

.planes__contenedor-index {
  background-color: white;
  color: #212529;
  border-radius: 0.5rem;
  padding: 1rem;
  -webkit-box-shadow: 0.25rem 0.25rem 0.5rem black;
          box-shadow: 0.25rem 0.25rem 0.5rem black;
}

.planes__contenedor-index, .planes__contenedor-contenido, .seccion__contenedor, .planes__contenedor-saber-mas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.planes__contenedor-index, .planes__contenedor-contenido {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.seccion__contenedor, .planes__contenedor-contenido, .planes__contenedor-saber-mas {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html {
  font-size: 100%;
}

/* -----------BODY------------ */
.body--color {
  background-color: #212529;
}

/* ---------FIN BODY----------- */
/* ---BARRA NAVEGACIÓN BOOTSTRAP CON ESTILOS PROPIOS------- */
.navbar-brand p {
  color: white;
  line-height: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  letter-spacing: .125rem;
  margin-top: 0.8rem;
}

.nav-link.active {
  text-decoration: overline;
}

.nav-link:hover {
  background-color: #D90429;
}

.active:hover {
  background-color: #D90429;
}

/* --FIN BARRA NAVEGACIÓN------------------ */
/* --TAMAÑO DEL MAIN----------- */
.main {
  margin-bottom: 2rem;
}

.main--color {
  color: #212529;
}

/* --FIN MAIN---------- */
.body {
  min-width: 360px;
  max-width: 1500px;
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  color: inherit;
}

.planes__contenedor-index {
  background-color: white;
  color: #212529;
  border-radius: 0.5rem;
  padding: 1rem;
  -webkit-box-shadow: 0.25rem 0.25rem 0.5rem black;
          box-shadow: 0.25rem 0.25rem 0.5rem black;
}

.planes__contenedor-index, .planes__contenedor-contenido, .seccion__contenedor, .planes__contenedor-saber-mas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.planes__contenedor-index, .planes__contenedor-contenido {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.seccion__contenedor, .planes__contenedor-contenido, .planes__contenedor-saber-mas {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.breadcrumb {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#212529), color-stop(#2c3237), to(#212529));
  background-image: linear-gradient(#212529, #2c3237, #212529);
  margin: 0;
  margin-bottom: 0;
}

.breadcrumb-item {
  margin-left: 1rem;
}

.breadcrumb-item .breadcrumb-link {
  text-decoration: none;
  color: white;
}

.breadcrumb-item .breadcrumb-link:hover {
  color: #D90429;
}

.active-breadcrumb:hover {
  background-color: #2c3237;
}

/*----- INICIO DE ESTILOS PAGINA INDEX -----*/
/* -- INICIA LA SECCION PRINCIPAL BE A BETTER YOU-------------- */
.seccion--font600 {
  font-weight: 600;
}

.seccion--font400 {
  font-weight: 400;
}

/* --ESTILOS PROPIOS AL CAROUSEL------- */
.carousel-inner {
  height: 50vh;
}

.seccionppal__titulo {
  padding: 0.5rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  font-weight: 900;
}

.seccionppal__foto1 {
  background-image: url(../imagenes/fila-mancuernas.jpg);
}

.seccionppal__foto2 {
  background-image: url(../imagenes/hombre-barra.jpg);
}

.seccionppal__foto3 {
  background-image: url(../imagenes/mujer-barra.jpg);
}

.seccionppal__foto--fondo {
  height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bordes-redondeados {
  border-radius: 0.5rem;
}

.bordes-redondeados--100 {
  border-radius: 2rem;
}

/* --FIN ESTILOS CAROUSEL------ */
/* --FIN SECCION PRINCIPAL-------------- */
/* --INICIO SECCION TARJETAS PLANES------------ */
.seccion {
  background-color: #212529;
  color: white;
}

.seccion__titulo {
  background-color: #C80425;
  text-align: center;
  font-weight: 900;
  text-decoration: overline;
  padding: 0.5rem;
}

.seccion__contenedor {
  width: 80%;
  margin: auto;
}

.planes__contenedor-index {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.2rem;
  margin: 0 0.5rem;
  transition: 1.5s;
  -moz-transition: 1.5s;
  -webkit-transition: 1.5s;
  -o-transition: 1.5s;
}

.planes__contenedor-index:hover {
  transform: scale(1.05);
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
}

.planes__contenedor-titulo {
  width: 100%;
  font-weight: 600;
  text-decoration: overline;
  font-size: 1.5rem;
  padding: 0.5rem;
  border: #212529 solid;
  text-align: center;
  color: #212529;
}

.planes__contenedor-contenido {
  padding: 1rem;
}

.planes__contenedor-saber-mas {
  width: 100%;
  height: 25%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 0.5rem;
}

.planes__contenido--negrita {
  font-weight: bolder;
}

.planes__contenido-lista {
  list-style: square;
  color: #212529;
  font-weight: 400;
  line-height: 1rem;
}

.boton {
  padding: 0.5rem;
  border-style: none;
  background-color: #C80425;
  border-radius: 0.5rem;
}

.boton:hover {
  background-color: #D90429;
}

.boton__link {
  width: 100%;
  text-decoration: none;
  font-size: 1rem;
  color: white;
  font-weight: bolder;
}

.boton__link:hover {
  color: white;
}

/* -- FIN SECCION TARJETAS PLANES--------- */
.seccion__whatsapp {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background-color: #01E675;
  border: solid #01E675 0.125rem;
  padding: 0 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0.25rem 0.25rem 0.5rem black;
          box-shadow: 0.25rem 0.25rem 0.5rem black;
  z-index: 100;
  -webkit-animation: flipInX;
          animation: flipInX;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.seccion__whatsapp:hover {
  color: white;
  background-color: #01cd68;
}

.boton__whatsapp--hola {
  font-size: 1rem;
  color: white;
  text-decoration: none;
  -webkit-transition: 1s;
  transition: 1s;
}

.boton__whatsapp--hola:hover {
  color: white;
  text-decoration: none;
}

.boton__whatsapp--logo {
  font-size: 2rem;
  color: white;
}

/* ---------------FOOTER-------------- */
.footer__contenedor {
  display: -ms-grid;
  display: grid;
  font-weight: 400;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  background-color: #212529;
  padding: 1rem 0;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 2fr 1fr 1fr 1fr;
      grid-template-rows: 2fr 1fr 1fr 1fr;
}

.footer__mancuerna {
  background-image: url(../imagenes/barbell.png);
  background-size: 2.5rem auto;
  background-repeat: no-repeat;
  background-position: center;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  padding-bottom: 1.5rem;
}

.footer__titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.footer__redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  padding-top: 1rem;
}

.footer__link {
  color: white;
  font-size: 1rem;
  text-decoration: none;
  border-left: solid white 0.15rem;
  margin-left: 0.5rem;
  padding-left: 0.5rem;
}

.footer__link:hover {
  color: #D90429;
}

.footer__link--sin-borde {
  border: none;
}

.footer__link-redes {
  background-color: #C80425;
  color: white;
  font-size: 1.25rem;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  padding: .5rem;
  margin: 0 0.5rem;
}

.footer__link-redes:hover {
  background-color: #D90429;
  color: white;
}

/* ADAPTACION A DISPOSITIVOS */
@media only screen and (max-width: 360px) {
  .footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
  }
  .footer__mancuerna {
    grid: 1/2 1/2;
  }
  .footer__titulo {
    grid: 1/2 2/3;
  }
  .footer__redes {
    grid: 1/2 3/4;
  }
  .footer__menu {
    display: none;
  }
}

@media only screen and (min-width: 360px) {
  .footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
  }
  .footer__mancuerna {
    grid: 1/2 1/2;
  }
  .footer__titulo {
    grid: 1/2 2/3;
  }
  .footer__redes {
    grid: 1/2 3/4;
  }
  .footer__menu {
    display: none;
  }
}

@media only screen and (min-width: 480px) {
  .footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  .footer__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid: 1/2 4/5;
    padding-top: 1rem;
  }
  .footer__link {
    margin-left: 0.5rem;
    padding-left: 0.5rem;
    padding: 0 0.5rem;
    border-left: solid white 0.15rem;
  }
  .footer__link--sin-borde {
    border: none;
  }
}

@media only screen and (min-width: 600px) {
  .footer__menu {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

/*-- ADAPTACION A DISPOSITIVOS -----------*/
@media only screen and (max-width: 360px) {
  .seccionppal__titulo {
    width: 100%;
    margin: auto;
    font-size: 2rem;
    letter-spacing: 0.25rem;
    word-spacing: 0.25rem;
  }
  .seccion__whatsapp {
    bottom: 2rem;
    right: 0.5rem;
    padding: 0 0.2381rem;
    border: solid #01E675 0.125rem;
  }
  .seccion__whatsapphover {
    border: solid white 0.125rem;
  }
  .boton__whatsapp--hola {
    display: none;
  }
  .boton__whatsapp:hover {
    color: white;
    text-decoration: none;
  }
}

@media only screen and (min-width: 360px) {
  .seccionppal__titulo {
    width: 100%;
    margin: auto;
    font-size: 2rem;
    letter-spacing: 0.25rem;
    word-spacing: 0.25rem;
  }
  .seccion__whatsapp {
    bottom: 2rem;
    right: 0.5rem;
    padding: 0 0.25rem;
    border: solid #01E675 0.125rem;
  }
  .seccion__whatsapphover {
    border: solid white 0.125rem;
  }
  .boton__whatsapp--hola {
    display: none;
  }
}

@media only screen and (min-width: 480px) {
  .seccionppal__titulo {
    font-size: 2.2rem;
    letter-spacing: 0.33333rem;
    word-spacing: 0.33333rem;
  }
  .seccion__whatsapp {
    padding: 0 0.25rem;
    border: solid #01E675 0.125rem;
  }
  .seccion__whatsapphover {
    border: solid white 0.125rem;
  }
}

@media only screen and (min-width: 600px) {
  .seccionppal__titulo {
    font-size: 2.5rem;
    letter-spacing: 0.5rem;
    word-spacing: 0.5rem;
  }
  .seccion__whatsapp {
    padding: 0 1.05rem;
    bottom: 5rem;
    right: 0.5rem;
  }
}

@media only screen and (min-width: 768px) {
  .seccionppal__titulo {
    font-size: 2.5rem;
    word-spacing: 0.7rem;
  }
  .seccion__whatsapp {
    bottom: 4rem;
  }
  .boton__whatsapp--hola {
    display: inherit;
  }
}

@media only screen and (min-width: 1024px) {
  .seccionppal__titulo {
    font-size: 3rem;
  }
}

/*----- FIN ADAPTACION A DISPOSITIVOS -----*/
/*----- FIN DE ESTILOS PAGINA INDEX -----*/
/*# sourceMappingURL=estilos4epfinal.css.map */