@import "reseteo";

@import "variables-propias";

.active--404 {
    background-color: $color-rojo;
    color: blanco;
}

.error {
    height: 80vh;
    @extend %caja-flex-centrada;
}

.error__contenedor {
    width: 60%;
    height: 80%;
    @extend %caja-blanca;
    @extend %caja-flex-centrada;
    @extend %caja-flex-column;
}

.error__titulo {
    font-size: $fuente-normal*2;
    font-weight: 600;
}

.error__contenido {
    font-size: $fuente-normal*1.2;
    margin: $rem-standard*2;
    text-transform: uppercase;
}

.mancuerna {
    width: 10%;
    height: 20%;
    margin-bottom: $rem-standard*2;
    background-image: url(../imagenes/barbell.png);
    background-position: center;
    background-size: cover;
    transition: 2s;

     &:hover {
         transform: rotate(180deg);
     }
}
