@import "reseteo";

@import "variables-propias";

/* -- INICIO SECCION SOBRE MI------- */

.sobremi {
  &__contenedor {
    @extend %caja-blanca;
    @extend %caja-flex-centradax;
    margin: 0 $rem-standard*2;
    margin-top: $rem-standard*3;

    &-foto {
      box-shadow: $sombra-contenedor;
      background-image: url(../imagenes/fotosobremi.jpg);
      background-position: top;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: $rem-standard;
      margin-top: $rem-standard*2;
      transition: 1s;

      &:hover {
        filter: sepia(1);
      }
    }

    &-texto {
      @extend %caja-blanca;
    }
  }

  &__texto {
    padding: $rem-standard*2;

    &--estilos {
      font-size: $fuente-normal;
      text-align: left;
    }
  }
}

/*-- ADAPTACION A DISPOSITIVOS------- */

@media only screen and (max-width: 360px) {
  .sobremi {
    &__contenedor {
      flex-direction: column;

      &-foto {
        width: 100%;
        height: 50vh;
      }
    }

    &__texto {
      width: 100%;
    }
  }
}

@media only screen and (min-width: 360px) {
  .sobremi {
    &__contenedor {
      flex-direction: column;

      &-foto {
        width: 100%;
        height: 50vh;
      }
    }

    &__texto {
      width: 100%;
    }
  }
}

@media only screen and (min-width: 480px) {
  .sobremi {
    &__contenedor {

      &-foto {
        height: 100vh;
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  .sobremi {
    &__texto {
      &--estilos {
        font-size: $fuente-normal+.1;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .sobremi {
    &__contenedor {
      &-foto {
        height: 90vh;
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .sobremi {
    &__contenedor {
      flex-direction: row;

      &-foto {
        margin-top: 0;
        margin-left: $rem-standard*2;
      }
    }
  }
}

/* -- FIN ADAPTACIÓN A DISPOSITIVOS---------- */
/* -- FIN SECCION SOBRE MI---------- */