@import "reseteo";

@import "variables-propias";

.active--404 {
    background-color: $color-rojo;
    color: $color-blanco;
}

.error {
    height: 50vh;
    @extend %caja-flex-centrada;
}

.error__contenedor {
    position: relative;
    @extend %caja-blanca;
    @extend %caja-flex-centrada;
    @extend %caja-flex-column;
    color: $color-blanco;
    text-shadow: $sombra-contenedor;
}

.error__titulo {
    position: absolute;
    top: 10rem;
    font-size: $fuente-normal*4;
    font-weight: 600;
}

.error__contenido {
    position: absolute;
    bottom: 10rem;
    font-size: $fuente-normal*1.2;
    margin: $rem-standard*2;
    text-transform: uppercase;
}

.error__foto {
height: 100%;
width: 100%;
background-image: url(../imagenes/barra-discos.jpg);
background-position: center;
background-size: cover;
border-radius: $rem-standard;

}

@media only screen and (max-width: 360px) {
    .error__contenedor {
        width: 80%;
        height: 80%;
    }

    .error__titulo {
        font-size: $fuente-normal*3;
    }
    .error__contenido {
        font-size: $fuente-normal;
        text-align: center;
    }
}

@media only screen and (min-width: 360px) {
    .error__contenedor {
        width: 80%;
        height: 80%;
    }

    .error__titulo {
        font-size: $fuente-normal*3;
    }
    .error__contenido {
        font-size: $fuente-normal;
        text-align: center;
    }
}

@media only screen and (min-width: 480px) {
    .error__contenedor {
        width: 70%;
        height: 80%;
    }

    .mancuerna {
        width: 15%;
        height: 10%;
    }

}

@media only screen and (min-width: 600px) {
    .error__contenedor {
        width: 60%;
        height: 80%;
    }

    .error__titulo {
        font-size: $fuente-normal*4;
    }

}


@media only screen and (min-width: 768px) and (max-height: 1024px) {
    .error__contenido {
        font-size: $fuente-normal*1.2;
        text-align: center;
    }

    .error__titulo {
        font-size: $fuente-normal*4.5;
    }

}
