@import "reseteo";

@import "variables-propias";

/* ---SECCION PLANES--- */

.planes {
    &__contenedor {
        @extend %caja-blanca;
        margin-top: $rem-standard*3;
        margin-bottom: $rem-standard*3;

        &-elegir {
            padding: $rem-standard*2;
            margin-top: $rem-standard*2;
        }
    }

    &__contenido {
        font-weight: 500;
        line-height: $rem-standard*3;
        margin: $rem-standard $rem-standard*3;
        &--mt {
            margin-top: $rem-standard*3;
        }
    }

    &__elegir {
        font-size: $fuente-normal+.2;
        font-weight: 600;
        margin-left: $rem-standard+.2;
        animation: shakeX;
        animation-duration: 2s;
    }

    &__preguntas-frecuentes {
        color: $color-oscuro;
        text-decoration: none;
        border: $rem-standard/4 solid $color-oscuro;
        padding: $rem-standard/1.5;
        &:hover {
            color: $color-rojo-hover;
            border: $rem-standard/4 solid $color-rojo-hover;
            background-color: $color-blanco;
        }
    }
}

/* ---ESTILOS AL ACCORDION BOOSTRAP DE PREGUNTAS FRECUENTES---- */

.accordion-button {
    font-weight: 600;
}

.accordion-button:not(.collapsed) {
        background-color: lighten($color-oscuro, 80%) !important;
        color: $color-oscuro !important;
}

.accordion-button:focus {
        border: none !important;
        box-shadow: none !important;
}

// --FIN ESTILOS ACCORDION DE BOOTSTRAP DE PREGUNTAS FRECUENTES------

/* --ADAPTACION A DISPOSITIVOS----- */

@media only screen and (max-width: 360px) {
    .planes {
        &__contenedor {
            width: 90%;
            margin: auto;
            margin-top: $rem-standard*3;
            margin-bottom: $rem-standard*3;

            &-titulo--50 {
                width: 100%;
                margin: auto;
                margin-bottom: $rem-standard;
            }
        }
    }
}

@media only screen and (min-width: 360px) {
    .planes {
        &__contenedor {
            width: 90%;
            margin: auto;
            margin-top: $rem-standard*3;
            margin-bottom: $rem-standard*3;

            &-titulo--50 {
                width: 100%;
                margin: auto;
                margin-bottom: $rem-standard;
            }
        }
    }

    .boton--planes {
        margin: $rem-standard $rem-standard 0 $rem-standard;
    }
}

@media only screen and (min-width: 468px) {
    .planes {
         &__contenedor-titulo--50 {
            width: 70%;
            margin: auto;
        }
}   
}

@media only screen and (min-width: 600px) {
    .planes {
    &__contenedor-titulo--50 {
        width: 60%;
        margin: auto;
    }
}

    .boton--planes {
        margin: $rem-standard*2 0 0 0;
    }
}

@media only screen and (min-width: 768px) {
    .planes {
        &__contenedor {
            width: 80%;
            margin: auto;
            margin-top: $rem-standard*3;
            margin-bottom: $rem-standard*3;
        }
    }

    .boton--planes {
        margin: $rem-standard $rem-standard 0 $rem-standard;
    }
}

@media only screen and (min-width: 1024px) {
    .planes {
        &__contenedor {
            width: 60%;
            margin: auto;
            margin-top: $rem-standard*3;
            margin-bottom: $rem-standard*3;
        }
    }

    .boton--planes {
        margin: $rem-standard $rem-standard*2 0 $rem-standard*2;
    }
}

/* ---FIN ADAPTACION A DISPOSITIVOS---- */
/* ---FIN SECCION PLANES---- */