@import "reseteo";

@import "variables";

/* ---SECCION CONTACTO--- */

.contacto__contenedor {
    @extend %caja-blanca;
    @extend %caja-flex-centrada;
    // display: flex;
    margin-top: $rem-standard;
    padding-top: $rem-standard*4;
    // justify-content: center;
    font-size: $rem-standard*2;
    text-align: left;
    // background-color: $color-blanco;
  }
    .contacto__datos-contacto {
    padding: $rem-standard;
    line-height: $rem-standard*2;
    color: $color-rojo;
  }
  
  .contacto__datos-contacto--fuente {
    color: $color-blanco;
    font-weight: 600;
    background-color: $color-rojo;
  }

  .contacto__input-contacto {
    color: $color-oscuro;
    border: solid $color-oscuro $rem-standard/4;
    padding-left: $rem-standard*2;
    padding: $rem-standard/3;
    margin-left: $rem-standard;
    &::placeholder {
      color: $color-rojo;
    }
  }
  
  .contacto__input-select {
    color: $color-rojo;
    border: solid $color-rojo $rem-standard/4;
    padding-left: $rem-standard;
    padding: $rem-standard/2;
    margin-left: $rem-standard;
  }
 
  .contacto__consulta {
    color: $color-oscuro;
    border: solid $color-rojo $rem-standard/4;
    padding: $rem-standard;
  }
  
  .contenedor__promociones {
    @extend %caja-flex-centradax;
    // display: flex;
    // justify-content: center;
    padding-bottom: $rem-standard*2;
    font-weight: 500;
  }

  .promociones {
    color: $color-oscuro;
    margin-right: $rem-standard;
  }
  
  .boton__link--mt {
    margin-top: .5rem;
  }
  
  /* ---FIN SECCION CONTACTO--- *s/
  
  // /* ADAPTACION A DISPOSITIVOS */

  @media only screen and (max-width: 360px) {
    .contacto__contenedor {
      width: 90%;
      margin: auto;
      font-size: $rem-standard*1.5;
    }
    .contacto__datos-contacto {
      width: 25%;
      margin-left: $rem-standard/2;
    }
    .contacto__input-contacto {
      width: 68%;
      margin-right: $rem-standard/2;
    }

    .contacto__input-select {
      width: 68%;
    }

    .boton__link--mt {
      width: 95%;
    }
  }
  
  @media only screen and (min-width: 360px) {
    .contacto__contenedor {
      width: 95%;
      margin: auto;
      font-size: $rem-standard*1.5;
    }
    .contacto__datos-contacto {
      width: 25%;
      margin-left: $rem-standard/2;
    }

    .contacto__input-contacto {
      width: 68%;
      margin-right: $rem-standard/2;
    }

    .contacto__input-select {
      width: 68%;
    }

    .contacto__consulta {
      width: 95%;
      margin-left: $rem-standard;
    }

    .boton__link--mt {
      width: 95%;
      margin-left: $rem-standard;
      margin-right: $rem-standard;
    }

  }
  
  @media only screen and (min-width: 480px) {
    .contacto__contenedor {
      width: 85%;
      margin: auto;
      font-size: $rem-standard*2;
    }

    .contacto__datos-contacto {
      width: 30%;
      margin-left: $rem-standard/2;
    }

    .contacto__input-contacto {
      width: 62%;
      margin-right: $rem-standard/2;
    }

    .contacto__input-select {
      width: 62%;
    }

    .contacto__consulta {
      width: 100%;
    }

    .boton__link--mt {
      width: 95%;
    }
  }

  
  @media only screen and (min-width: 768px) {
    .contacto__contenedor {
      width: 60%;
      margin: auto;
    }
    .contacto__datos-contacto {
      width: 28%;
      margin-left: $rem-standard/2;
    }
    .contacto__input-contacto {
      width: 65%;
      margin-right: $rem-standard/2;
    }
    .contacto__input-select {
      width: 65%;
    }

    .contacto__consulta {
      width: 95%;
    }

    .boton__link--mt {
      width: 95%;
    }

  } 

  @media only screen and (min-width: 1024px) {
    .contacto__contenedor {
      width: 50%;
      margin: auto;
    }

  } 
